{% extends 'base.html.twig' %}

{% block body %}
<form method="POST">
    {#
    ajouter une liste déroulante pour tous les utilisateur
    #}
    <select name="user">
        {% for user in users %}
            {% if not group.users.contains(user) %}
                <option value="{{ user.id }}">{{ user }}</option>
            {% endif %}
        {% endfor %}

    </select>
    <div>
        <button type="submit">Enregistrer</button>
    </div>
</form>
{% endblock %}
