{% extends 'base.html.twig' %}

{% block body %}
   <table class="table">
       <tr>
           <th>Id</th>
           <th>Titre</th>
           <th>Contenu</th>
           <th>Auteur</th>
       </tr>

       {% for publication in publications %}
       <tr>
           <td>{{ publication.id }}</td>
           <td>{{ publication.title }}</td>
           <td>{{ publication.content }}</td>
           {#
           on peux se permetre d'afficher l'auteur directement
            car la class User contient une methode toString()
           #}
           <td>{{ publication.author }}</td>
       </tr>
       {% else %}
       <tr>
           <td colspan="4" style="text-align: center">Aucunes publications</td>
       </tr>
       {% endfor %}



   </table>
{% endblock %}
