{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <caption>Publications de {{ user }}</caption>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Contenu</th>
        </tr>
        {% for publication in user.publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.title }}</td>
                <td>{{ publication.content }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center">Aucunes publications</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
